body , html ,  .filmlist,.col-md-11,.col-md-1 , .loading-container,.App {
background:url(http://thepatternlibrary.com/img/h.jpg)!important;

}

.navbar-light{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position : fixed;
  top: 0;
  width: 100%;
  z-index: 144; 
  background-image: url(bg-title-shop.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #a7222b!important;

}

.navbar-light h1 {
    color : rgb(228, 198, 25);
   font-family: "Comic Sans MS", cursive, sans-serif ; 
 margin-left: 10px;
  }

  .title {
display: flex;
justify-content: space-between;
align-items: center
  }

  .navbar-light .fa-video {
    color :  rgb(228, 198, 25);

  }


.navbar-light form{
 margin-right: 50px;
}

.heart {
  width : 200px;
  display: flex;
  justify-content: space-between;
  color: rgb(216, 173, 173);

}

.heart i:hover {
color : rgb(228, 228, 25);
cursor: pointer;
}

.isyellow {

  color : rgb(228, 228, 25);
}

.card {
 width: 300px;
margin-top: 25px;
margin-bottom: 10px;
cursor: pointer;
box-shadow : 0 0 5px 0px #d6d0d0;
}
.card img {
  height: 65%;;

 }

.cardadd {
width: 300px;
height: 500px;
margin-top:25px; 
}

 .card-body{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

 }
 .card-body a {
  width: 150px;
  margin-top: 20px;
  
 }
 
 .filmlist {
display: flex;
flex-wrap: wrap;
justify-content: space-around;


 }
 .fa-reply-all  {
 color : rgb(53, 141, 137);
 margin-right: 80px;
  cursor: pointer;
 }
 .fa-reply-all:hover  {
  color : lightseagreen;
   
  }

  .modal-header {
    background-image: url(bg-title-shop.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #a7222b;
    color: white;
}

.information {
    margin: auto;
}

.information {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.modal-body {
  z-index: 1444; 
    background-color: #ffc107;
}

.information form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: rgb(37, 30, 30);
    font-weight: bold;
}

.submit, .reset {
    width: 100px;
    height: 40px;
    background-color: white;
    color: rgb(37, 30, 30);
    font-weight: bold;
    border: 1px outset white;
    border-radius: 5px;
    cursor: pointer;
}

.submit:hover, .reset:hover {
    transform: scale(1.2)
}

form input {
    width: 300px;
    height: 30px;
    background-color: white;
    color: rgb(37, 30, 30);
    border: 1px inset white;
    border-radius: 5px;
}

form textarea {
    width: 300px;
    height: 57px;
    background-color: white;
    color: rgb(37, 30, 30);
    border: 1px inset white;
    border-radius: 5px;
}


.subres {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.modelcart .card {
    margin: 20px;
    display: flex;
    flex-direction: row;
}


.modal-footer {
    background-image: url(bg-title-shop.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #a7222b;
    color: white;
}
.list{

    border: solid;
    width: 200px;
    height:200px;
}
.margin {
 height: 60px;

}

h1 {
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, rgb(190, 124, 124), rgb(211, 87, 87), rgb(219, 163, 60));
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;

  }
  
  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }


  @keyframes spinner {
    100% {
      transform: rotate(3600deg);
    }
  }
  
  .loading-container {
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 50vh;
    transform: translateY(-50%);
  }
  
  .spinner {
    display: inline-block;
    width: 300px;
    height: 300px;
    background: url('https://scontent.fnbe1-1.fna.fbcdn.net/v/t1.0-9/50995058_2148932311811649_4734406947904684032_n.jpg?_nc_cat=108&_nc_ht=scontent.fnbe1-1.fna&oh=b3827baff6fc66dc02983ae1d63cce59&oe=5CDC8A91') center center;
    background-size: contain;
    animation: spinner 3s infinite alternate ease-in-out;
    border-radius: 20px;
  }
  /*.spinner-center {
    display: inline-block;
    position: absolute;
    margin-left: -200px;
    width: 100px;
    height: 100px;
    background: url('http://i.imgur.com/u0BC2ZR.png') center center;
    background-size: contain;
    content: '';
  } */
  
  .loading-text {
    position: relative;
    z-index: 1;
    font-size: 50px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin-left: 0.5em;
    color: #a7222b;
  }

  /*login*/
  .login-wrap{
    color:#6a6f8c;
    background:#c8c8c8;
    font:600 16px/18px 'Open Sans',sans-serif;

  }
  *,:after,:before{box-sizing:border-box}
  .clearfix:after,.clearfix:before{content:'';display:table}
  .clearfix:after{clear:both;display:block}
  a{color:inherit;text-decoration:none}
  
  .login-wrap{
    width:100%;
    height: 90%;
    margin:auto;
    margin-top: 15px;
    max-width:650px;
    min-height:600px;
    position:relative;
    background:url(https://ak9.picdn.net/shutterstock/videos/14481289/thumb/1.jpg?i10c=img.resize) no-repeat center;
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  }
  .login-html{
    width:100%;
    height: 100%;
    position:absolute;
    padding:90px 70px 50px 70px;
    background:rgba(35, 37, 41, 0.486);
  }
  .login-html .sign-in-htm,
  .login-html .sign-up-htm{
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:absolute;
    transform:rotateY(180deg);
    backface-visibility:hidden;
    transition:all .4s linear;
    
  }
  .login-html .sign-in,
  .login-html .sign-up,
  .login-form .group .check{
    display:none;
    cursor: pointer;
  }
  .login-html .tab,
  .login-form .group .label,
  .login-form .group .button{
    text-transform:uppercase;
    cursor: pointer;
  }
  .login-html .tab{
    font-size:22px;
    margin-right:15px;
    padding-bottom:5px;
    margin:0 15px 10px 0;
    display:inline-block;
    border-bottom:2px solid transparent;
  }
  .login-html .sign-in:checked + .tab,
  .login-html .sign-up:checked + .tab{
    color:#fff;
    border-color:#1161ee;
  }
  .login-form{
    min-height:345px;
    position:relative;
    perspective:1000px;
    transform-style:preserve-3d;
  }
  .login-form .group{
    margin-bottom:15px;
  }
  .login-form .group .label,
  .login-form .group .input,
  .login-form .group .button{
    width:100%;
    color:#fff;
    display:block;
  }
  .login-form .group .input,
  .login-form .group .button{
    border:none;
    padding:15px 20px;
    border-radius:25px;
    background:rgba(255,255,255,.1);
  }
  .login-form .group input[data-type="password"]{
    
    -webkit-text-security:circle;
  }
  .login-form .group .label{
    color:white;
    font-size:12px;
  }
  .login-form .group .button{
    background:#1161ee;
  }
  .login-form .group label .icon{
    width:15px;
    height:15px;
    border-radius:2px;
    position:relative;
    display:inline-block;
    background:rgba(255,255,255,.1);
  }
  .login-form .group label .icon:before,
  .login-form .group label .icon:after{
    content:'';
    width:10px;
    height:2px;
    background:#fff;
    position:absolute;
    transition:all .2s ease-in-out 0s;
  }
  .login-form .group label .icon:before{
    left:3px;
    width:5px;
    bottom:6px;
    transform:scale(0) rotate(0);
  }
  .login-form .group label .icon:after{
    top:6px;
    right:0;
    transform:scale(0) rotate(0);
  }
  .login-form .group .check:checked + label{
    color:#fff;
  }
  .login-form .group .check:checked + label .icon{
    background:#1161ee;
  }
  .login-form .group .check:checked + label .icon:before{
    transform:scale(1) rotate(45deg);
  }
  .login-form .group .check:checked + label .icon:after{
    transform:scale(1) rotate(-45deg);
  }
  .login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
    transform:rotate(0);
  }
  .login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
    transform:rotate(0);
  }
  
  .hr{
    height:2px;
    margin:60px 0 50px 0;
    background:rgba(255,255,255,.2);
  }
  .foot-lnk{
    text-align:center;
  }

  
  @keyframes d1 { /* NOTE d = "déplacement"  */
    100%{
      top: 60%;
      left: 70%;
    }
  }
  @keyframes d2 {
    100%{
      top: 30%;
      left: 60%;
    }
  }
  @keyframes d3 {
    100%{
      top: 30%;
      left: 60%;
    }
  }
  @keyframes d4 {
    100%{
      top: 60%;
      left: 70%;
    }
  }
 

  .routelinks {
   position :fixed;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   z-index: 9000;
   color: white;
   font-weight: bold;
  }

  .col-md-11 {
    margin-left:96px;
  }

  .routelinks a:focus {

    color : red;
  }

   
  .routelinks  {
  display:flex;
  justify-content: center;
  padding :20px;
  border-right: 2px inset #cab4b5;
  
  }


  header {

    position: relative;
    background-color: black;
    height: 80vh;
    min-height: 25rem;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 60%;
    width: auto;
    height: auto;
    z-index: 0;
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  

  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }

   h2 {
     margin-top :20px;
     margin-bottom: 20px;
    text-align: center;
    color : white;
  }

  .next{

    background:url(http://thepatternlibrary.com/img/h.jpg);
    color:#a7222b;
    border : 0px;
    box-align: middle;
    font-size: 20px;
    cursor: pointer;
  }

  .next:hover ,.fa-angle-double-right:hover {

color : #b15057;
  }
  
  .fa-angle-double-right , .fa-angle-double-left {
    cursor: pointer;
    color:#a7222b;
  }

  .loadmore{

    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 10px;
  }

  .prevnext{
width: 90vw;
  display: flex;
  justify-content: center;
  }